.searchBox {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: fixed;
  background-color: white;
  top: 0%;
  left: 0;
  height: 100vh;
}

.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  padding: 1vmax 2vmax;
  font: 300 1.2vmax "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.637);
  width: 50%;
  border-radius: 0%;
  box-sizing: border-box;
  height: 8%;
  outline: none;
}

.searchBox > input[type="submit"] {
  height: 8%;
  outline: none;
  width: 10%;
  font: 300 1.1vmax "Roboto", sans-serif;
  cursor: pointer;
  background-color: tomato;
  border: none;
  color: white;
  border-radius: 0%;
  box-sizing: border-box;
  transition: all 0.5s;
}

.searchBox > input[type="submit"]:hover {
  background-color: rgb(197, 68, 45);
  transform: scale(1.1);
}
